<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${titulo}"></title>
</head>
<body>
<h1 th:text="${titulo}"></h1>
<ul>
  <li><a th:href="@{/variables/string/} + 'Hola Pedro '">/variables/string/Hola Pedro</a></li>
  <li><a th:href="@{/variables/string/} + 'Que tal Pablo '">/variables/string/Que tal Pablo</a></li>
  <li><a th:href="@{/variables/string/} + 'Saludos Pedro ' + '/' + 7 ">/variables/string/Saludos Pedro/7</a></li>
</ul>
</body>
</html>